version: '3'
services:
  discussion:
    image: kingwrcy/discussion:latest
    container_name: discussion
    # pull_policy: always
    ports:
      - '3000:3000'
    links:
      - postgres
    depends_on:
      - postgres
    environment:
      DATABASE_URL: 'postgres://discussion-user:discussion-password@postgres/discussion'
  postgres:
    container_name: postgres
    image: postgres:alpine
    restart: always
    environment:
      POSTGRES_USER: discussion-user
      POSTGRES_PASSWORD: discussion-password
      POSTGRES_DB: discussion
    volumes:
      - discussion-data:/var/lib/postgresql/data
volumes:
  discussion-data:
