@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Comic Sans MS", "Luxi Sans", "Segoe UI", "Hiragino Sans GB",
    "Microsoft Yahei", sans-serif, "Apple Logo";
}

.md-editor-preview-wrapper {
  padding: 0 !important;
}

.md-editor-preview code {
  white-space: pre-wrap !important;
}
.md-editor-preview {
  font-size: 14px !important;
  line-height: 1.8rem !important;
  overflow-wrap: normal !important;
  word-break: normal !important;
}

.md-editor-preview ul{
  padding:0 !important;
  margin: 15px 0 15px 20px !important;
  list-style-type: disc !important;
}

.md-editor-preview ol{
  padding:0 !important;
  margin: 15px 0 15px 20px !important;
  list-style-type:decimal !important;
}

.md-editor-preview li{
  margin: 0 !important;
  padding:0 !important;
}

.default-theme p,
.default-theme blockquote,
.default-theme dl,
.default-theme table,
.default-theme details {
  margin: 0.875rem 0 !important;
}

.default-theme > :first-child {
  margin-top: 0px !important;
}
.default-theme > :last-child {
  margin-bottom: 0px !important;
}
.md-editor-preview img {
  border-radius: 5px !important;
}

.dark .md-editor-preview{
  background-color: rgb(17 24 39)  !important;
  color:rgb(248 250 252 ) !important;
}


.md-editor-preview table{
  width:100% !important;
}


.md-editor-preview table tr:nth-child(2n) {
  background-color: rgb(17 24 39/5)  !important;
}

.md-editor-preview table tr:hover{
  background-color: rgb(17 24 39/10)  !important;
}

.md-editor-toolbar-left > div[theme='light'][language='zh-CN'] ,.md-editor-toolbar-left > div[theme='dark'][language='zh-CN'] {
  display: flex;
  align-items: center;
}

.dark .md-editor-preview img{
  border-color: rgb(51 65 85) !important;
}