@tailwind base;
@tailwind components;
@tailwind utilities;
.md-editor-preview-wrapper{padding:0 !important; }
.md-editor-preview{
  font-size:14px !important;  
  line-height: 1.5rem !important;
}

.md-editor-previewOnly li{
  list-style:decimal;
}
.md-editor-previewOnly ol{
  list-style:disc;
}